body{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url("images/galaxy.png");
    background-size: cover;
    backdrop-filter: blur(0.3px);
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;

}
.titlebar{
    height:50px;
    width: 100%;
    background: linear-gradient(rgba(70, 90, 179, 0.2), rgba(160, 95, 30, 0.466));
    align-items: center;
    justify-content: center;
    display: flex;
}
.title{
    font-family: sans-serif;
    color: rgb(210, 155, 45);
    text-shadow:  3px 3px rgba(0,0,0,0.6);
}
.nav{
    width: 100%;
    margin: auto;
}
.nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
li a{
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(210, 155, 45);
    text-shadow:  3px 3px rgba(0,0,0,0.6);;
    transition: 0.3s ease-in-out;
}
li{
    border-radius: 5px;
    padding: 4px;
    background: linear-gradient(rgba(108, 14, 175, 0.384), rgba(176, 25, 25, 0.733));;
    transition: 0.3s ease-in-out;
}

li a:hover{
    color: rgb(70, 90, 179);
    
}
li:hover{
    background: linear-gradient(rgba(234, 10, 10, 0.384), rgba(0, 0, 0, 0.733));;
    transition: 0.5s ease-in-out;
}
.screen{
    border:  4px rgb(27, 30, 38) solid;
    margin:  30px auto;
    width: 80vh;
    height: 45vh;
    justify-content: center;
    display: flex;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.7);
    border-radius: 5%;
}
video{
    border-radius: 4%;
}
.status{
    margin: auto;
    display: flex;
    gap: 150px;
    width: 700;
    justify-content: center;
}
p{
    color: white;
}
.button{
    border: black solid 2px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.384), rgba(0, 0, 0, 0.733));
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.7);
    transition: 0.5s ease-in-out;
}
.btext{
    color:  white;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    text-shadow: 2px 2px rgba(0,0,0,0.7);
}
.button:hover{
background: linear-gradient(rgba(135, 28, 28, 0.384), rgba(0, 0, 0, 0.733));;
}
.btext:hover{
    color: rgba(196, 174, 8, 0.79);
}



#fuckin_hell{
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  
  .modal-content {
    background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(255, 0, 0, 0.733));;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #888;
    width: 200px; 
    box-shadow:  2px 2px 2px 2px rgba(0,0,0,0.6);
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6);
  }
  
 
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6);
    
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }
  
  #myBtn {
    border-radius: 50px;
    border:1px solid #fb646f;
    padding: 10px 25px 10px 25px;
    color: rgb(210, 155, 45);
    font-family: Open Sans;
    position: absolute;
    background: linear-gradient(rgba(108, 14, 175, 0.384), rgba(176, 25, 25, 0.733));;
    left: 90vw;
    top: 9vh;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    box-shadow:  2px 2px 2px 2px rgba(0,0,0,0.6);
  }
  
  #myBtn:hover {
    border-radius: 50px;
    background:#fb646f;
    color: #ffffff;
    font-family: Open Sans;
  }
  .reg{
    text-decoration: none;
    color: #ffffff;
  }
  .lost{
    text-decoration: none;
    color: #ffffff;
  }
}